body {
  background-color: #e3e3e3;
}
.logo img {
    width: 20%
}
.logo-text {
    position: absolute;
    left: 30%;
    top: 20%;
    font-size: 26px;
    font-family: "Orbitron", sans-serif;
}
.logo {
    background-color: black;
    opacity: 0.8;
    text-align: left;
    color: white;
    position: absolute;
    width: 670px;
    top: 20%;
}
.image img{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 50%;
    z-index: -1;
}
.text {
    position: absolute;
    left: 50%;
}
.form {
    background-color: white;
    padding: 20px 120px 200px 40px;
    width: 80%;
    height: 70%;
    display: block;
    box-shadow: 10px 10px 10px 10px gray;
    line-height: 20px;
    text-align: left;
    border-radius: 20px;
}

.left {
    float: left;
}
.right {
    float: right;

}
input, label {
    line-height: 15px;
    margin-bottom: 50px;
    padding-bottom: 5px;
    width: 250px;
    display: block;
    margin-top: 2px;
    margin-block-end: 2px;
}
.upper-text {
    padding-left: 37px;
    padding-right: 30px;
    font-weight: bold;
}
.form p {
    font-weight: bold;
    font-size: 19px;
}

.button {
    position: absolute;
    top: 110%;
    right: 64%;
}
.button button {
    height: 50px;
    width: 200px;
    background-color: forestgreen;
    border: gray solid 1px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 3px 5px 3px 1px #929292;
}
.lower-text {
    position: absolute;
    right: 62%;
    top: 130%;
}
input:focus{
    border-color :lightgray;
}
input:invalid {
    border-color: firebrick
}
input:valid {
    border-color: forestgreen
}
.lower-text a {
    font-weight: bold;
    color: cornflowerblue;
}
input {
    border-radius: 8px;
}